body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

path {
  fill: none;
  stroke: red;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}

#controlbar {
  height:100px;
}

#timelineviz {
  height:100px;
  width: 100%;
  background:white;
  position: fixed;
  bottom: 0px;
  left:0px;
  border-top: 1px darkgray solid;
  display: none;
}

.modal {
  position:absolute;
  z-index: 2;
  background: white;
  border: solid 2px lightgray;
  display: none;
  padding: 10px 20px;
}

.tutorial {
  position:absolute;
  top:300px;
  width:300px;
  min-height: 100px;
  z-index: 2;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  background: white;
  border: solid 2px lightgray;
  padding: 0 20px;  
}

#tutorialcontent {
  padding: 20px 0;
}

.popup {
  position:absolute;
  top:10px;
  left:20%;
  right:20%;
  z-index: 3;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background: white;
  border: solid 2px lightgray;
  padding: 0 20px;
}

#infoclosebutton {
  position: absolute;
  top:5px;
  right:10px;
  border:black 1px solid;
  background:white;
  padding:1px 5px;
  cursor:pointer;
}

#infoclosebutton:hover {
  background: cyan;
}

#routeResults {
  width: 400px;
  bottom: 0;
  left: 210px;
  overflow:hidden;
  border: 5px solid #F0F0F0;
  
}

#routeResults > p {
  width: 360px;
  padding: 0 20px;
}

#sitemodal {
}

#sitemodal:before {
content: '';
position: absolute;
height: 20px;
width: 20px;
left: -12px;
top: 3px;
background: white;
border-bottom: solid 2px lightgray;
border-left: solid 2px lightgray;
transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

#routemodal {
  max-width: 300px;
  z-index: 2;
}

#monthPicker {
  
}

#monthPicker > input {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

#monthPicker > input:checked {
color: white;
background: #302e42;
background-image: -webkit-linear-gradient(top, #302e42, #29253b);
background-image: -moz-linear-gradient(top, #302e42, #29253b);
background-image: -o-linear-gradient(top, #302e42, #29253b);
background-image: linear-gradient(to bottom, #302e42, #29253b);
}
#monthPicker > label {
  position: relative;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 200;
  color: #8d8ba6;
  text-transform: uppercase;
  text-shadow: 0 1px 1px black;
  display: inline-block;
  line-height: 25px;
  vertical-align: top;
  cursor: pointer;
}

.month-picker-label:before {
content: '';
position: absolute;
top: -2px;
bottom: -2px;
left: -2px;
right: -2px;
border: 2px solid;
border-color: #205fa4 #205fb4 #205fc4;
border-radius: 6px;
opacity: 0;
-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

input:checked + .month-picker-label:before {
opacity: 1;
}


.buttonContainer {
  width: 210px;
  padding:10px;
  background: #F0F0F0;
  float: left;
  position: relative;
}

.controlButton {
  cursor:pointer;
}

.controlButton:hover {
  background:pink;
}

.controlButton.active {
  background: orange;
}

.controlButton.disabled {
  background: lightgray;
}

.routeArrowLeftUnder {
  position:absolute;
  left:-22px;
  top: 8px;
  width: 0; 
  height: 0; 
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent; 
  border-right:22px solid lightgray;
}

.routeArrowLeft {
  position:absolute;
  left:-20px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right:20px solid white; 
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .75;
  shape-rendering: crispEdges;
}

.multiSiteControl {
  display: none;
}