p {
  padding: 5px;
  margin: 0;
  line-height: 1.5em;
}

h4 {
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;

}

path {
  fill: none;
  stroke: red;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 5,5;
}

button {
  cursor: pointer;
  background: #D6E0EB;
}

button:hover {
  background:#FFDBDB;
}

button.active {
  background: #FFD699;
}

button.disabled {
  background: #9494B8;
}

.controlsDiv {
  background: white;
  position: fixed;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.underlined {
  text-decoration: underline;
}

#controlbar {
  height:100px;
}

#timelineViz {
  height:120px;
  width: 100%;
  background:white;
  position: fixed;
  bottom: 0px;
  left:0px;
  border-top: 1px darkgray solid;
  display: none;
  z-index: 1;
}

#sankeyChart {
  height:800px;
  width: 800px;
  background:white;
  position: fixed;
  top: 50px;
  left:50px;
  border-top: 1px darkgray solid;
  display: none;
  z-index: 1;
}

.boldRed {
  color: darkred;
  font-weight: 900;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.modal {
  position:absolute;
  z-index: 2;
  background: white;
  border: solid 2px lightgray;
  display: none;
  padding: 10px 20px;
  max-width: 400px;
}

.tutorial {
  position:absolute;
  width:300px;
  min-height: 100px;
  z-index: 2;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  background: white;
  border: solid 2px lightgray;
  padding: 0 20px;
}

#tutorialcontent {
  padding: 20px 0;
}

#tutorialpopup {
  display: none;
}
.popup {
  position:absolute;
  top:50px;
  left:250px;
  right:250px;
  z-index: 3;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: #faffd3;
  border: solid 0px lightgray;
  padding: 0 40px 0 20px;
  display: none;
  min-height: 50px;
}

#legendmodal {
  background: white;
  left:450px;
  top:40px;
  height:90px;
  width:410px;
  display:none; 
}

#legendmodal.horizontal {
  height:400px;
  width:180px;
}

#infoclosebutton {
  position: absolute;
  top:5px;
  right:10px;
  color: #8c1515;
  font-weight: 900;
  font-size: 2em;
  background:none;
  padding:1px 5px;
  cursor:pointer;
  z-index: 2;
}

#infoclosebutton:hover {
  color: #460A0A;
}

#routeResults {
  width: 300px;
  overflow:hidden;
  border: 5px solid #F0F0F0;
  position: absolute;
  background: white;
  bottom: 0;
  padding: 0 15px;
  font-size:12px;
}

#routeResults > p {
  padding: 5px 0;
}

#sitemodal {
}

#sitemodal:before {
content: '';
position: absolute;
height: 20px;
width: 20px;
left: -12px;
top: 3px;
background: white;
border-bottom: solid 2px lightgray;
border-left: solid 2px lightgray;
transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

#routemodal {
  max-width: 300px;
  z-index: 2;
}

#monthPicker {
  
}

#monthPicker > input {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

#monthPicker > input:checked {
color: white;
background: #302e42;
}
#monthPicker > label {
  position: relative;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  display: inline-block;
  line-height: 25px;
  vertical-align: top;
  cursor: pointer;
}

.month-picker-label:before {
content: '';
position: absolute;
top: -2px;
bottom: -5px;
left: -2px;
right: -2px;
border-bottom: 4px solid;
border-color: #205fa4 #205fb4 #205fc4;
opacity: 0;
-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

input:checked + .month-picker-label:before {
opacity: 1;
}

#priorityForm > input {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

#priorityForm > input:checked {
color: white;
background: #302e42;
}
#priorityForm > label {
  position: relative;
  padding: 0 7px;
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
  display: inline-block;
  line-height: 25px;
  vertical-align: top;
  cursor: pointer;
}

.priority-picker-label:before {
content: '';
position: absolute;
top: -2px;
bottom: -5px;
left: -2px;
right: -2px;
border-bottom: 4px solid;
border-color: #205fa4 #205fb4 #205fc4;
opacity: 0;
-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

input:checked + .priority-picker-label:before {
opacity: 1;
}


.fieldTitle {
  margin-left: 10px;
  padding:0px 5px;
  background: white;
}

.buttonContainer {
  width: 100%;
  margin-top:10px;
  float: left;
  position: relative;
}

.routeArrowLeftUnder {
  position:absolute;
  left:-22px;
  top: 8px;
  width: 0; 
  height: 0; 
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent; 
  border-right:22px solid lightgray;
}

.routeArrowLeft {
  position:absolute;
  left:-20px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right:20px solid white; 
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .75;
  shape-rendering: crispEdges;
}

.multiSiteControl {
  display: none;
}

.tab {
  position: absolute;
  z-index: 1;
  top: -28px;
  background: white;
  padding: 5px;
  border-bottom: none;
}

.backtab {
  border-bottom: solid gray 1px;
  padding-top: 4px;
}

.backtab:hover {
  background: #E0E0FF;
  cursor: pointer;
}


.footer
{
font-size: .8em;	
background-color:#FFFFFF;
border: 1px #959595 solid;
border-bottom: none;
position: absolute;
bottom: 0px;
right:0;
padding: 6px;
}

.helpicon
{
  margin-left: 5px;
  cursor: pointer;
}

.routes
{
  pointer-events: none;
}

#priorityForm
{
  font-size: 16px;
  margin-bottom: 5px;
  padding: 10px;
}
.checkboxDiv
{
  display: inline-block;
}


#topbar {
  position:fixed;
  top:0;
  width:100%;
  height:40px;
  background: #8c1515;
  z-index: 1;
  letter-spacing: 1px;
}

#authors {
  position:absolute;
  right: 0;
  padding: 5px 20px;
  width: 120px;
  text-align: right;
  font-size: 14px;
}

#authors > a {
  color: white;
  text-decoration: none;
}

#authors > a:hover {
  text-decoration: underline;
}

#title {
  float: left;
  left: 0;
  padding: 0 20px;
  font-size: 30px;
  color: white;
}

.navtab {
  margin-top: 11px;
  padding: 5px 5px 2px;
  height: 20px;
  font-size: 13px;
  color: white;
  float: left;
  font-weight: 600;
  cursor: pointer;
}

.navtab:hover {
  background: gray;
  color: white;
}

#essayBox {
  position: fixed;
  background: rgba(0,0,0,.5);
  left:0px;
  right: 0px;
  top: 40px;
  bottom: 0px;
  z-index: 98;
  display: none;
}
#essayContent {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position:absolute;
  left:50px;
  right: 50px;
  top: 50px;
  bottom: 50px;
  border: 1px solid gray;
  background: white;
  padding: 20px;
  z-index: 99;
  overflow: auto;
  display: none;
  min-width: 800px;
  max-width: 1200px;
}

#advancedSettings {
  position: fixed;
  top: 435px;
  left:100px;
  background:white;
  border: black solid 1px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: none;
}
.controlButton {
  width: 175px;
}

.calculateButton {
  font-size: 18px;
  font-weight: 900;
  width: 250px;
  margin: 0 auto;
}

.calculateDisable {
  background: rgba(255,255,255,.85);
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
#calculateDisableText {
  margin:5px 80px;
  font-weight: 900;
}
.routeLabelButton {
  font-size:10px;
}

#lcolo2 {
  width: 27%;
  position: absolute;
  left:1%;
  font-size:12px;

}

#mcolo2 {
  width: 44%;
  position: absolute;
  left:28%;
  font-size:12px;
}

#rcolo2 {
  position: absolute;
  width: 26%;
  right:1%;
  font-size:12px;
}

#homemap {
  width:100%;
}

#startExploring {
  position:relative;
  font-size:20px;
  font-weight: 900;
  text-align: center;
  height:50px;
  background: #f3db77;
  padding-top:15px;
  cursor:pointer;
  border-radius: 5px;
  color: #832530;
}
#leftblurb {
  position: absolute;
  width: 50%;
  font-size: 14px;
  color: #b22358;
}
#rightblurb {
  position: absolute;
  left: 50%;
  width:50%;
  font-size: 14px;
  color:#2093b6;
}

div.circle {
  height:100px;
  width:100px;
  border-radius: 100px;
  margin-right:5px;
  color:white;
  text-align: center;
  font-size: 12px;
  position: absolute;
}

div.circle > p {
  margin-top: 5px;
}

/* Imported */
.rightcol {
	padding: 75 0 0 0;	float: left;	width: 300px;
	height: 100%;	margin-top:25px;}
        
        .leftcol {width:620px;float: left;}


div .righttoc {
    width: 285px; margin-top: 10px; color:#333;
	border:thin #434A44 dotted; 
	float: right; font-size: .9em; padding: 4px;}}
.rightcol a {text-decoration:none; color: #336699;}
div .rightpull {
    margin-top: 10px; color:#333; font-family: 'Lato', sans-serif;
	background-color: #eeeee0;
	float: right; padding: 18px; font-size:small;}
div .rightpic {
    width: 280px; margin: 10px; color:#333;
	border:thin #993333 dotted; 
	float: right; font-size: .8em; padding:6 18 18 18;}
div .leftpic {
    width: 300px; margin: 10px; 	color:#333;
	border:thin #993333 dotted; 
	float: left; font-size: .8em; padding:6 18 18 18;}
div .inlinepic {
    width: 99%; margin: 10px;	color:#333;
	border:thin #993333 dotted; padding: 6px 0px;
	font-size: .8em; text-align:center;}

div .inlinepic_plain {
    width: 95%; margin: 10px;	color:#333;
	font-size: .8em; text-align:center;}
.caption { font-family: 'Lato', sans-serif; font-size:.9em; text-align:center; color:#333; padding-left:2px;}

#intro p { margin-bottom: 2px;}

#lcol {	width: 490px; float:left; font-size: 14px;}
#pic { float:left; clear:right; margin: 9px 8px 0 6px;}
.blurb {width:216px; padding:6px; background-color:#eeeee0; /*border: thin solid #993333;*/
	margin-top: 8px ;margin-bottom: 8px; float:left;
	font-family: 'Lato', sans-serif; font-size: .9em;
	border-radius: 5px; min-height: 64px;}
.blurb a { text-decoration:none; }
.blurb a:hover { text-decoration:underline;}
.blurb h4 {background-color:lightyellow; padding-top:0; color:#336699;}
 
.firstchar { float: left; color: #990000; font-size: 50px; line-height: 40px; padding-top: 4px; padding-right: 4px; padding-left: 3px; font-family: 'Lato', sans-serif; }
 
.fauxbutton { cursor: pointer;text-decoration: none; font-size:15px; background-color: #434A44; color:#C6FFFF; margin-right:3px;}
.fauxbutton:hover  {color:#D6DFDF; text-decoration:none;}

.navpanelblurb {
  font-size:12px;
}


/* Applying section */
#applyPapersTOC {
  width: 300px;
  float:left;
}
h3.applying {color:#434A44}
.articlebody {	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-size: 1.2em;
	padding: 6px; }
.footnotes ol {	list-style-type:decimal; margin-left: 8px; padding-left: 1.3em;}
.applyTOCTitle { color:#434A44; font-weight:bold; }
.applyTOCauthor {}
#applyingDiv { width:620px;float:left;}
#applyingDiv  ul {list-style: square; margin: 4px 20px; line-height:1.3em;}
#applyingDiv  li {margin-bottom:2px;}
#applyingDiv  h2 { margin-bottom:4px;}
.applyingPanel {width: 580px; padding:8px; background-color:#fff; border: thin dotted #993333; 
	clear:both; margin-top: 8px; margin-bottom: 8px;}
.applyingPanel p { padding-left: 0;}
/* d3 stuff */
.dclabel { font-family: 'Lato', sans-serif; font-weight:bold; letter-spacing:1.5px; 
	color: #333; text-shadow: 1px 1px 2px grey, 0 0 1em white, 0 0 0.2em white;}
.gratext { font-family: 'Lato', sans-serif; font-weight:bold; letter-spacing:2px;}
.titletext { font-family: 'Lato', sans-serif; font-size:1.7em;  letter-spacing:2px; color:#900;}

.colhead {font-family: 'Lato', sans-serif; font-weight:bold; color:#d6ddd3; 
	background-color: #434A44; padding:2px 0 2px 4px; line-height: 18px;}
.colhead a, .colhead visited  {color:#C6FFFF; text-decoration:none;	}
