body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

path {
  fill: none;
  stroke: red;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}

button {
  cursor: pointer;
  background: #D6E0EB;
}

button:hover {
  background:#FFDBDB;
}

button.active {
  background: #FFD699;
}

button.disabled {
  background: #9494B8;
}
#controlbar {
  height:100px;
}

#timelineViz {
  height:120px;
  width: 100%;
  background:white;
  position: fixed;
  bottom: 0px;
  left:0px;
  border-top: 1px darkgray solid;
  display: none;
  z-index: 1;
}

#sankeyChart {
  height:800px;
  width: 800px;
  background:white;
  position: fixed;
  top: 50px;
  left:50px;
  border-top: 1px darkgray solid;
  display: none;
  z-index: 1;
}


.modal {
  position:absolute;
  z-index: 2;
  background: white;
  border: solid 2px lightgray;
  display: none;
  padding: 10px 20px;
  max-width: 400px;
}

.tutorial {
  position:absolute;
  top:300px;
  width:300px;
  min-height: 100px;
  z-index: 2;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  background: white;
  border: solid 2px lightgray;
  padding: 0 20px;  
}

#tutorialcontent {
  padding: 20px 0;
}

.popup {
  position:absolute;
  top:10px;
  left:20%;
  right:20%;
  z-index: 3;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background: white;
  border: solid 2px lightgray;
  padding: 0 20px;
}

#legendmodal {
  right:10px;
  bottom:100px;
  top:auto;
  height:80px;
  width:650px;
  left:auto;
  display:none; 
}

#legendmodal.horizontal {
  height:400px;
  width:180px;
}

#infoclosebutton {
  position: absolute;
  top:5px;
  right:10px;
  border:black 1px solid;
  background:white;
  padding:1px 5px;
  cursor:pointer;
}

#infoclosebutton:hover {
  background: cyan;
}

#routeResults {
  width: 400px;
  bottom: 0;
  left: 210px;
  overflow:hidden;
  border: 5px solid #F0F0F0;
  
}

#routeResults > p {
  width: 360px;
  padding: 0 20px;
}

#sitemodal {
}

#sitemodal:before {
content: '';
position: absolute;
height: 20px;
width: 20px;
left: -12px;
top: 3px;
background: white;
border-bottom: solid 2px lightgray;
border-left: solid 2px lightgray;
transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

#routemodal {
  max-width: 300px;
  z-index: 2;
}

#monthPicker {
  
}

#monthPicker > input {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

#monthPicker > input:checked {
color: white;
background: #302e42;
background-image: -webkit-linear-gradient(top, #302e42, #29253b);
background-image: -moz-linear-gradient(top, #302e42, #29253b);
background-image: -o-linear-gradient(top, #302e42, #29253b);
background-image: linear-gradient(to bottom, #302e42, #29253b);
}
#monthPicker > label {
  position: relative;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 200;
  color: #8d8ba6;
  text-transform: uppercase;
  display: inline-block;
  line-height: 25px;
  vertical-align: top;
  cursor: pointer;
}

.month-picker-label:before {
content: '';
position: absolute;
top: -2px;
bottom: -2px;
left: -2px;
right: -2px;
border: 2px solid;
border-color: #205fa4 #205fb4 #205fc4;
opacity: 0;
-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

input:checked + .month-picker-label:before {
opacity: 1;
}


.buttonContainer {
  width: 210px;
  padding:10px;
  background: #F0F0F0;
  float: left;
  position: relative;
}

.routeArrowLeftUnder {
  position:absolute;
  left:-22px;
  top: 8px;
  width: 0; 
  height: 0; 
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent; 
  border-right:22px solid lightgray;
}

.routeArrowLeft {
  position:absolute;
  left:-20px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right:20px solid white; 
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .75;
  shape-rendering: crispEdges;
}

.multiSiteControl {
  display: none;
}

.tab {
  position: absolute;
  z-index: 1;
  top: -29px;
  background: white;
  padding: 5px;
  border: solid gray 1px;
  border-bottom: none;
}

.backtab {
  border-bottom: solid gray 1px;
  background: lightgray;
  padding-top: 4px;
}

.backtab:hover {
  background: #E0E0FF;
  cursor: pointer;
}


.footer
{
font-size: .8em;	
background-color:#FFFFFF;
border: 1px #959595 solid;
border-bottom: none;
position: absolute;
bottom: 0px;
padding: 6px;
}

.helpicon
{
  margin-left: 5px;
  cursor: pointer;
}

.routes
{
  pointer-events: none;
}

#priorityForm
{
  font-size: 12px;
}
.checkboxDiv
{
  display: inline-block;
}

#topbar {
  position:fixed;
  top:0;
  width:100%;
  height:40px;
  background: #8c1515;
  z-index: 1;
}

#authors {
  position:absolute;
  right: 0;
  padding: 5px 20px;
  width: 120px;
  text-align: right;
  font-size: 14px;
}

#authors > a {
  color: white;
  text-decoration: none;
}

#authors > a:hover {
  text-decoration: underline;
}

#title {
  float: left;
  left: 0;
  padding: 0 20px;
  font-size: 30px;
  color: white;
}

.navtab {
  margin-top: 11px;
  padding: 5px 5px 2px;
  border: 1px solid gray;
  height: 20px;
  font-size: 12px;
  color: gray;
  float: left;
  background: white;
  cursor: pointer;
}

.navtab:hover {
  background: gray;
  color: white;
}

#essayBox {
  position: fixed;
  background: rgba(0,0,0,.5);
  left:0px;
  right: 0px;
  top: 40px;
  bottom: 0px;
  z-index: 98;
  display: none;
}
#essayContent {
  position:absolute;
  left:50px;
  right: 50px;
  top: 50px;
  bottom: 50px;
  border: 1px solid gray;
  background: white;
  padding: 20px;
  z-index: 99;
  overflow: auto;
  display: none;

  
}